{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-card ">
  
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <form class="login-box" method="post" novalidate>
    <div class="box-header">
      <h2 id="title">Log In</h2>
    </div>

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <label for="username">username</label>
    <br/>
    <input id="username" type="username" name="username" value="{{ username }}">
    <br/>
    <label for="password">password</label>
    <br/>
    <input id="password" type="password" name="password" value="{{ password }}">
    <br/>
    <button type="submit">sign in</button>
    <!--<a href="{% url 'students:tutor_list' %}" class="sign-btn">Nevermind</a>-->  
    <br/>
  </form>
</div>
{% endblock %}


<!--
  <div class="col-12">
    <h2>Log in</h2>
  </div>
  
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form.username }}
          {{ form.password }}
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </div>
      <div class="col-sm-3"></div>
  </div>
  --->
