{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-card" style="width:40%;">

  <div class="row">
    <h2 id="title">{{ user_type }} SIGNUP</h2>
    <form class="login-box" method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form|crispy }}
      <button type="submit" class="sign-btn">sign up</button>
    </form>
  </div>
  
</div>
{% endblock %}

<!--

      {% for field in form|crispy %}
      {{ field.label_tag }}
      {{ field }}
      {% endfor %}

-->