{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-card">

  <div class="row">
    {% if user_type == 'teacher' %}
      <h2 id="title">Tutor Sign Up</h2>
    {% else %}
      <h2 id="title">Student Sign Up</h2>
    {% endif %}
  </div>
  <form class="login-box" method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form }}
      <button type="submit" class="sign-btn">sign up</button>
    </form>
  </div>
  

{% endblock %}

<!--

      {% for field in form|crispy %}
      {{ field.label_tag }}
      {{ field }}
      {% endfor %}

-->