{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-card">

  <div class="row">
    {% if user_type == 'teacher' %}
      <h2 id="title-2">Tutor Signup</h2>
      <div class="subtitle">
        <small id="terms-btn"><i>(tutors must be age fourteen or above)</i></small>
      </div>
    {% else %}
      <h2 id="title-2">Student Signup</h2>
      <div class="subtitle">
        <small id="terms-btn"><i><strong>students under fourteen:</strong> all signup fields must be completed</small><br>
        <small id="terms-btn">by a parent and must only contain parent information</i></small>
      </div>
    {% endif %}
  </div>
  <form class="login-box" method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form }}
      <button id="submit" type="submit" class="sign-btn">sign up</button>
      <br>
      <small id="terms-btn">by clicking sign up, you acknowledge you have read and agree </small> 
      <br>
      <small id="terms-btn">to our <a id="facebook-pg-link" href="{% url 'terms' %}">terms and conditions</a> and our <a id="facebook-pg-link" href="{% url 'privacy' %}">privacy policy</a></small>
      <br><br>
  </form>

</div>

<script>
  $('option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
  });
</script>

{% endblock %}

<!--

      {% for field in form|crispy %}
      {{ field.label_tag }}
      {{ field }}
      {% endfor %}

-->