{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
  
  <div class="login-card z-depth-2">

    <h2 id="title" class="mb-3">Update Lesson</h2>
    
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form }}
      <div class="triple-btn">
        <button type="submit" id="yes-btn">Update</button>
        <a href="{% url 'teachers:lesson_delete' lesson.pk %}" id="no-btn">Delete</a>
        <a href="{% url 'teachers:lesson_change_list' %}" id="hit-btn">Close</a>
      </div>
    </form>
  </div>
{% endblock %}
