{% extends 'base.html' %}


{% block content %}
<div class="main-card">
  <div class="row align-items-center my-5">

    <div style="padding:1em;" class="col-lg-5 text-center">
      <h1 class="font-weight-light">Start Teaching!</h1>
      {% if user.teacher.verified %}
        <br>
        <p>Interested students will get it touch with you <i>by email</i> shortly!</p>
        <p>As a verified tutor, your base pay begins at $17.50/hour and you get access to incentive pay structures and bonus opportunities.</p>
        <p>With verification, students are far more likely to contact you about lessons.</p>
        <p>You also get full access to our tutoring resources and company support!</p>
      {% else %}
        <br>
        <p><strong>Important: </strong> Currently, you are not a verified TRU Tutor.</p>
        <p>Without verification, students may be less likely to contact you for lessons.</p>
        <p>As a verified tutor, your base pay begins at $17.50/hour and you get access to incentive pay structures and bonus opportunities.</p>
        <p>You also get full access to our tutoring resources and ongoing support!</p>
        <p>To apply, please email <i>trututoring@gmail.com</i>!</p>
      {% endif %}
    </div>

    <div class="col-lg-7">
      <div class="card h-100">
        <div class="card-body">
          {% include 'classroom/teachers/_header.html' with active='new' %}
          <hr id="prof-line"> 
          <p class="text-muted">
            Subjects:&nbsp;{% for subject in user.teacher.interests.all %} {{ subject.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_interests' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
              School:&nbsp;<span id="badger">{{ user.teacher.school }}</span>
              <a href="{% url 'teachers:teacher_school' %}"><small>(update)</small></a>
          </p>
          {% if user.teacher.verified %}{% else %}
          <p class="text-muted">
            Asking Rate:&nbsp;<span id="badger">${{ user.teacher.rate }}/hour</span>
            <a href="{% url 'teachers:teacher_rate' %}"><small>(update)</small></a>
          </p>
          {% endif %}
          <p class="text-muted">
            Grade:&nbsp;{% for grade in user.teacher.grade_level.all %} {{ grade.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_grade_level' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Availability:&nbsp;{% for availability in user.teacher.availability.all %} {{ availability.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_availability' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Sessions/week:&nbsp;{% for session in user.teacher.sessions.all %} {{ session.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_sessions' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Distance:&nbsp;{% for distance in user.teacher.distance.all %} {{ distance.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_distance' %}"><small>(update)</small></a>
          </p>
        </div>
      </div>

    </div>
  </div>
  
  <h6 class="font-weight-normal text-left"><strong>Important: </strong>Below, add all scheduled lessons. Please allow students at least 24 hours to complete payment.</h6>
  <hr id="prof-line"> 
  <div class="card text-black bg-white my-4 py-2 z-depth-1">
    <div class="card-body">
      <h2 id="session-title" class="mb-3">Your Lessons
        <a href="{% url 'teachers:lesson_add' %}" class="text-right" id="add-lesson-btn" role="button">Add a lesson</a>
      </h2>
      
      <table id="session-table" class="table mb-0 table-striped">
        <thead>
          <tr>
            <th>Student</th>
            <th>Email</th>
            <th>Date</th>
            <th>Zoom Link + Meeting Details</th>
            {% if user.teacher.verified %}{% else %}
              <th>Rate</th>
            {% endif %}
            <th>Paid?</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in user.teacher.lessons.all %}
            <tr>
              {% if lesson.paid %}
                <td class="align-middle">{{ lesson.name }}</td>
              {% else %}
                <td class="align-middle"><a id="course-descriptor" href="{% url 'teachers:lesson_change' lesson.pk %}">{{ lesson.name }}</a></td>
              {% endif %}
              <td class="align-middle">{{ lesson.getStudentUser.email }}</td>
              <td class="align-middle">{{ lesson.date }}</td>
              <td style="width:50%" class="align-middle">{{ lesson.material }}</td>
              {% if lesson.tutor.verified %}
                <td class="align-middle">{% if lesson.paid %}<span style="font-weight: bold; color:green">Yes</span>{% else %}<span>No</span>{% endif %}</td>
              {% else %}
                <td class="align-middle">${{ lesson.tutor.rate }}/hour</a></td>
                <td class="align-middle">Independent</td>
              {% endif %}
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="6">You haven't completed any lessons yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>


</div>
{% endblock %}
