{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
  
  <div class="login-card z-depth-2">

    <h2 id="title" class="mb-3">
      {{ quiz.name }}
    </h2>
    
    <form method="post" novalidate>
      {% csrf_token %}
      {% render_field form.name placeholder="Name" id+="selector-name" %}
      {% render_field form.subject id+="selector-subject" %}
      <div class="triple-btn">
        <button type="submit" id="yes-btn">Update</button>
        <a href="{% url 'teachers:quiz_change_list' %}" id="hit-btn">Nevermind</a>
        <a href="{% url 'teachers:quiz_delete' quiz.pk %}" id="no-btn">Delete</a>
      </div>
    </form>
  
  </div>
{% endblock %}
