{% extends 'base.html' %}


{% block content %}
<div class="main-card">
  <div class="row align-items-center my-5">

    <div class="col-lg-5 text-center">
      <h1 class="font-weight-light">Start Teaching!</h1>
      <p>Create targeted learning opportunities below! </p>    
    </div>

    <div class="col-lg-7">
      <div class="card h-100">
        <div class="card-body">
          {% include 'classroom/teachers/_header.html' with active='new' %}
          <hr id="prof-line"> 
          <p class="text-muted">
            Subjects:&nbsp;{% for subject in user.teacher.interests.all %} {{ subject.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_interests' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
              School:&nbsp;<span class="badge badge-primary" style="background-color:#505050;">{{ user.teacher.school }}</span>
              <a href="{% url 'teachers:teacher_school' %}"><small>(update)</small></a>
            </p>
          <p class="text-muted">
            Grade:&nbsp;{% for grade in user.teacher.grade_level.all %} {{ grade.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_grade_level' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Availability:&nbsp;{% for availability in user.teacher.availability.all %} {{ availability.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_availability' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Sessions/week:&nbsp;{% for session in user.teacher.sessions.all %} {{ session.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_sessions' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Distance:&nbsp;{% for distance in user.teacher.distance.all %} {{ distance.get_html_badge }}{% endfor %}
            <a href="{% url 'teachers:teacher_distance' %}"><small>(update)</small></a>
          </p>
        </div>
      </div>

    </div>
  </div>

  <hr id="prof-line"> 

  <div class="card text-black bg-white my-4 py-2 z-depth-1">
    <div class="card-body">
      <h2 id="session-title" class="mb-3">My Sessions
        <a href="{% url 'teachers:quiz_add' %}" class="text-right" id="add-quiz-btn" role="button">Add session</a>
      </h2>
      
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Zoom Link</th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in user.quizzes.all %}
            <tr>
              <td class="align-middle"><a id="course-descriptor" href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>
              <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
              <td class="align-middle">{{ quiz.taken_count }}</td>
              <!--- to be implememted
              <td class="text-right">
                <a href="{% url 'teachers:quiz_results' quiz.pk %}" id="hit-btn">View feedback</a>
              </td>
              --->
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="5">You haven't created any sessions yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>

</div>
{% endblock %}
