{% extends 'base.html' %}

{% block content %}
  <!-- Page Content -->
    <div class="main-container">


      <!-- Intro Content -->
      <div class="row">
        
        <div id="about-info-block" class="col-lg-9">
          <h2 id="page-title">About TRU Tutoring</h2>
          <p><strong>Mission: </strong>Provide peer-to-peer tutoring services that make quality learning truly affordable.</p>
          <p><strong>Core Beliefs:</strong> TRU Tutoring believes that learning from a peer who has a shared academic experience is the most effective supplement to learning in the classroom. Peer to peer tutoring interactions facilitate positive environments for two way learning. 
            <br><br>
            We believe that “to teach is to learn twice.”
            <br><br>

            We also believe that learning done in the classroom is only a portion of a students learning experience. And yet, tutoring services are far too expensive for many families. People should have access to affordable education without sacrificing quality.
            </p>
          <p><strong>Peer-to-peer: </strong>Peer to peer tutoring increases retention rates and comprehension of material, empowers students to learn and teach, and creates an environment of “inclusive excellence.”
          </p>
        </div>
        <div class="col-lg-3">
          {% load static %}<img class="img-fluid rounded mb-4" src="{% static 'img/books.jpg' %}" alt="">
        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members -->
      <h2 id="page-title">Our Team</h2>

      <div class="row">
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <div class="container-profile">
              {% load static %}<img class="card-img-top" src="{% static 'img/eemon.png' %}" alt="">
              <div class="middle">
                <p class="card-text">Eemon founded TRU Tutoring during the summer of 2018, after graduating from Mira Loma High School. Motivated to 
                  offer affordable help for students in his area, Eemon began reaching out to tutors and quickly developed a functioning business. Eemon currently runs
                  TRU Tutoring's daily operations and heads all business outreach.
                  <br><br>
                  Eemon is from Sacramento, CA, and is currently pursuing a Marketing degree in the business school at Santa Clara University.
                </p>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Eemon Ghasemiyah</h4>
              <h6 class="card-subtitle mb-2 text-muted">Founder</h6>
            </div>
            <div class="card-footer">
              <a href="mailto:imran@trututoring.live">imran@trututoring.live</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <div class="container-profile">
              {% load static %}<img class="card-img-top" src="{% static 'img/alex.png' %}" alt="">
              <div class="middle">
                <p class="card-text">Alex is focused on the development of business operations and vertical growth within TRU. He is also responsible for building
our website and web application functionality. 
<br><br>
Alex, a team member since January 2020, is from Seattle, WA and is currently pursuing degrees in Economics and Computer Science.
                </p>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Alex Reents</h4>
              <h6 class="card-subtitle mb-2 text-muted">Lead, Business Development</h6>
            </div>
            <div class="card-footer">
              <a href="mailto:alex@trututoring.live">alex@trututoring.live</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <div class="container-profile">
              {% load static %}<img class="card-img-top" src="{% static 'img/aidan.png' %}" alt="">
              <div class="middle">
                <p class="card-text">Aidan is focused on developing our framework for effective peer-to-peer tutoring. 
His extensive research into the cognitive benefits of peer learning has been instramental in desiging a model for quality tutoring. 
<br><br>
Aidan, a team member since December 2019, is from Berkeley, CA and is currently pursuing a degree in Cognitive Science at Santa Clara University.
                </p>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Aidan Williams</h4>
              <h6 class="card-subtitle mb-2 text-muted">Lead, Congitive Science</h6>
            </div>
            <div class="card-footer">
              <a href="mailto:aidan@trututoring.live">aidan@trututoring.live</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <div class="container-profile">
              {% load static %}<img class="card-img-top" src="{% static 'img/diego.png' %}" alt="">
              <div class="middle">
                <p class="card-text">Diego is focused on all legal operations for TRU Tutoring. He is responsible for managing TRU as a legal entity and for
developing contracts essential to maintaining the integrity and safety of our service.
<br><br>
Diego, a team member since February 2020, is from Los Altos, CA and is currently pursuing degrees in Political Science and Economics at Santa Clara University.
Diego is on the pre-law track and plans to attend law school.
                </p>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Diego Pedrayes</h4>
              <h6 class="card-subtitle mb-2 text-muted">Lead, Legal</h6>
            </div>
            <div class="card-footer">
              <a href="mailto:diego@trututoring.live">diego@trututoring.live</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->
  <!-- Footer -->
  <footer style="color:black;" class="page-footer font-small white pt-4 z-depth-2">

    <!-- Footer Text -->
    <div class="container-fluid">
  
      <!-- Grid row -->
      <div style="height:4em;" class="row col-12">
  
        <!-- Grid column -->
        <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
          <div class="row" style="position:relative; padding-left:3em;">
            <!-- Content -->
            <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#415ebe;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
            <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
            <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
            <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
            <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
          </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">
  
          <!-- Content -->
          <p style="color:#415ebe; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="{% url 'admin:index' %}">Click here.</a></a></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
    </div>
    <!-- Copyright -->
  
  </footer>

{% endblock %}