{% extends 'base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="main-container">

    <h2 id="faq-title-top" class="my-4">Frequently Asked Questions</h2>

    <div class="container py-3">
      <div class="row">
          <div class="col-10 mx-auto">
              <div class="accordion" id="faqExample">
                  <div class="card">
                      <div class="card-header p-2" id="headingOne">
                          <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is peer-to-peer tutoring?
                              </button>
                            </h5>
                      </div>
  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                          <div  class="card-body">
                            "Peer-to-peer" is a style of learning around which we've founded our business. The central idea is that students will teach others students,
                            making it easier be confused, ask questions, and actuall begin learning. To learn more about the philosophy behind our style of 
                            tutoring, visit our 'About' page!
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header p-2" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How do I become a tutor?
                            </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                          <div class="card-body">
                              To become a tutor, visit our signup page. You can get started tutoring right away, but to become TRU verified you will
                              submit an application to further demonstrate your qualifications. 
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header p-2" id="headingThree">
                          <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What does it mean to be TRU verified?
                              </button>
                            </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                          <div class="card-body">
                              Verification is a system that we use distinguish tutors who have been interviewed, vetted, and determined to have expertise in the subject they teach.
                              For students, we highly recommend choosing a tutor that has been TRU Verified. 
                              <br><br>
                              For tutors, recieving verification is a relatively straightforward process. You will submit a resume and basic application, and will complete
                              an interview to assess subject-specific knowledge and general tutoring capabilities. Being TRU Verified makes it more likely for students to 
                              request a lesson with you. With verification, you recieve additonal support from TRU Tutoring and have access to bonus incentives. To begin this process, please email <a href="mailto:info@trututoring.live">info@trututoring.live</a>!
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header p-2" id="headingFour">
                          <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How do you ensure the safety of our interactions?
                              </button>
                            </h5>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                          <div class="card-body">
                              Ensuring safety of both our students and tutors is a top priority for TRU Tutoring. Regardless of verification, we highly recommend
                              reaching out to your tutor/student before the first lesson to get familiarity with who you'll be working. 
                              <br><br>
                              Unfortunately, it is impossible for us to verify the identiy of every tutor or student that uses our platform. We are a matching service and our tutors
                              are independent contrators, so students and tutors each have a responsibility to establish a safe connection.
                          </div>
                      </div>
                  </div>
                  <div class="card">
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              What subjects do you offer?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                        <div class="card-body">
                            We offer subjects in nearly any area of K-12 instruction! Subjects are limited only by the amount of tutors avaialable for that subject.
                            Most tutors are for Math and Science, but any topic is possible! We also offer support in SAT/ACT test prep, as well as college application
                            preparation, essay writing, and general advising (tutors are current college studetns).
                            <br><br>
                            You can find a complete list of subjects on the 'Sign Up' page.
                        </div>
                    </div>
                </div>
                <div class="card">
                  <div class="card-header p-2" id="headingSix">
                      <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            How much do lessons cost?
                          </button>
                        </h5>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                      <div class="card-body">
                        Lessons with TRU Verified tutors cost a flat rate of $22.50, with the first lesson free. Independent tutors have the ability to set their own price.
                        To learn more about pricing, please visit our 'Prices' page.
                      </div>
                  </div>
              </div>
              </div>
  
          </div>
      </div>
      <!--/row-->
  </div>
  <!--container-->
  <!-- /.container -->
</div>

  <footer style="color:black;" class="page-footer font-small white pt-4 z-depth-2">

    <div class="container-fluid">
  
      <div style="height:4em;" class="row col-12">
  
        <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
          <div class="row" style="position:relative; padding-left:3em;">
            <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#415ebe;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
            <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
            <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
            <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
            <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
          </div>
        </div>
  
        <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">
  
          <p style="color:#415ebe; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="admin">Click here.</a></p>
  
        </div>
  
      </div>
  
    </div>
  
    <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
    </div>
  
  </footer>

{% endblock %}
