{% extends 'base.html' %}

{% block content %}


  <!-- Page Content -->
  <div class="main-container">


    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a id="faq-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1</a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a id="faq-title" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a id="faq-title" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer style="color:black;" class="bottom-footer font-small white pt-4 z-depth-2">

    <!-- Footer Text -->
    <div class="container-fluid">
  
      <!-- Grid row -->
      <div style="height:4em;" class="row col-12">
  
        <!-- Grid column -->
        <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
          <div class="row" style="position:relative; padding-left:3em;">
            <!-- Content -->
            <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#415ebe;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
            <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
            <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
            <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
            <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
          </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">
  
          <!-- Content -->
          <p style="color:#415ebe; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="admin">Click here.</a></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
    </div>
    <!-- Copyright -->
  
  </footer>

{% endblock %}
