{% extends 'base.html' %}

{% block content %}

<!-- Page Content -->
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!--
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    -->
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" 
        style="background: rgb(65,94,190);
        background: linear-gradient(90deg, rgba(65,94,190,1) 11%, rgba(42,82,152,1) 100%);        ">
        <!--<div>{% load static %}<img id="tru-image" src="{% static 'img/trulogo-white.png' %}" alt=""></div>-->
        <h1 id="tru-image">tutoring</h1>
      </div>

      <!--
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
      </div>
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  -->
    </div>
    <div>{% load static %}<img id="kid-logo" src="{% static 'img/SittingStudents.png' %}" alt=""></div>

</header>



<!-- Page Content -->
<div class="container">

  <h1 id="home-title-1" class="my-4">Looking for extra help with school?<br>Most options don't cut it.</h1>
  <h2 id="home-title-3" class="my-4">Online tutorials? Parents?</h2>
  <h1 id="home-title-4" class="my-4">(Not so helpful)</h1>
  <br>
  <h2 id="home-title-3" class="my-4">$50+ for a tutor?</h2>
  <h1 id="home-title-4" class="my-4">(Not worth it)</h1>
  <br>
  
  <h1 id="home-title-2" class="my-4">Let's re-think outside learning.</h1>

  <!-- Features Section -->
  <h2 id="home-title-3" style="text-align:left" class="my-4">What is peer-to-peer learning?</h2>

  <div id="home-info-block" class="row">

    <div class="col-lg-7">

      <p>Our approach toward tutoring involves student-to-student interaction. We utilize the expertise of high schoolers who've
       already demonstrated academic success in the specific subject of need. These tutors are familiar with both the local curriculum 
       and the nature of student learning. They are, after all, students themselves.
      </p>
      <p>Peer-to-peer interaction has many benefits both in the classroom and outside. Click below to find out more about our method
        of learning!
      </p>
      
      <br>
      <a href="{% url 'about' %}" id="home-page-btn">Learn More</a>
    </div>
    <div class="col-lg-5" style="text-align:center;">
      <i style="padding-top:2rem; padding-left:4rem; font-size: 10em;" class="fas fa-user-friends"></i>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->

  <div id="home-info-block" class="row">

    <div class="col-lg-7">
      <h2 id="home-title-3" style="text-align: left" class="my-4">Parents and Students</h2>


      <p>Our approach toward tutoring involves student-to-student interaction. We utilize the expertise of high schoolers who've
       already demonstrated academic success in the specific subject of need. These tutors are familiar with both the local curriculum 
       and the nature of student learning. They are, after all, students themselves.
      </p>
      <p>Peer-to-peer interaction has many benefits both in the classroom and outside. Click below to find out more about our method
        of learning!
      </p>
      
      <br>
      <a href="{% url 'student_signup' %}" id="home-page-btn">Get Started</a>
      
    </div>
    <div class="col-lg-5" style="padding-top:3em;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/f0xoImPivhE?start=34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
  
  <!-- /.row -->


  <div id="home-info-block" class="row">

    <div class="col-lg-6" style="padding-top:1.5em">
      <img class="img-fluid rounded" src="{% static 'img/remote.jpg' %}" alt="">
    </div>

    <div id="home-right-text" class="col-lg-6">
      <h2 style="text-align:right" id="home-title-3" class="my-4">Interested in Tutoring?</h2>

      <p>Our approach toward tutoring involves student-to-student interaction. We utilize the expertise of high schoolers who've
       already demonstrated academic success in the specific subject of need. These tutors are familiar with both the local curriculum 
       and the nature of student learning. They are, after all, students themselves.
      </p>
      <p>Peer-to-peer interaction has many benefits both in the classroom and outside. Click below to find out more about our method
        of learning!
      </p>
      
      <a href="{% url 'teacher_signup' %}" id="home-page-btn2">Join Us</a>
      
    </div>
    

  </div>
  
  <!-- /.row -->

  <!-- Features Section -->
  <h2 id="home-title-3" style="text-align: left" class="my-4">COVID-19: How we're helping</h2>

  <div id="home-info-block" class="row">

    <div class="col-lg-7">

      <p>Our approach toward tutoring involves student-to-student interaction. We utilize the expertise of high schoolers who've
       already demonstrated academic success in the specific subject of need. These tutors are familiar with both the local curriculum 
       and the nature of student learning. They are, after all, students themselves.
      </p>
      <p>Peer-to-peer interaction has many benefits both in the classroom and outside. Click below to find out more about our method
        of learning!
      </p>
      <br>
      <a href="{% url 'services' %}" id="home-page-btn">Explore Serivces</a>
      
    </div>

    <div class="col-lg-5" style="text-align:right;">
      <i style="padding-top:2rem; padding-right:4rem; font-size: 10em;" class="fas fa-video"></i>
    </div>

  </div>

  <!-- /.row -->

</div>
<!-- /.container -->

<!--
  <div class="card my-5 py-4 text-center">
    <div class="card-body">
      <p class="m-0">To learn more, get in contact with us, submit a tutor application, or view testimonials, visit our <a id="facebook-pg-link" href="https://www.facebook.com/TRUtutoring/">facebook page</a>!</p>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Students & Parents</h2>
          <p class="card-text">Recieve one-on-one tutoring in any subject at hourly prices ranging from $0-$25. Our
            tutors are distinguished both in their subject-specific knowledge and overall instruction quality!
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Tutors</h2>
          <p class="card-text">With TRU, high school and college-age students can gain valuable professional experience
            tutoring younger students. Our dynamic model allows for flexibility both in hours and compensation. Applications are currently open!   
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">COVID-19</h2>
          <p class="card-text">In these uncertain times, affordable education has never been more important. TRU is committed to continue providing
            quality peer-to-peer learning opportunities, now by using remote videoconferencing technology. 
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>

</div>
-->


<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
  <b>Welcome!</b> Please take a moment to review our <a id="home-terms-link" href="{% url 'terms' %}">terms and conditions</a> and our <a id="home-terms-link" href="{% url 'privacy' %}">privacy policy</a>.
  
  <button type="button"  id="home-terms-btn" class="btn acceptcookies">
      I agree
  </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

  

<!-- Footer -->
<footer style="color:black;" class="page-footer font-small white pt-4 z-depth-2">

  <!-- Footer Text -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div style="height:4em;" class="row col-12">

      <!-- Grid column -->
      <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
        <div class="row" style="position:relative; padding-left:3em;">
          <!-- Content -->
          <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#415ebe;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
          <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
          <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
          <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
          <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
          <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">

        <!-- Content -->
        <p style="color:#415ebe; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="admin">Click here.</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
  </div>
  <!-- Copyright -->

</footer>


<!-- Footer -->
{% endblock %}


