{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="main-card">
  <div id="alerting" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Notice: </strong>This website is in beta form. We are currently undergoing app development, so existing
    functionality is limited. We greatly appreciate your feedback and patience!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-6">
      {% load static %}<img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/learning_photo.jpg' %}" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-6">
      <h1 class="font-weight-light">Welcome to TRU Tutoring</h1>
      <p id="home-page-txt">TRU Tutoring is a peer-to-peer education startup, dedicated to providing quality learning services at an affordable price. 
      <br><br>Our service connects older and younger students to foster a more engaging and meaningful learning experience at a fraction of the cost.
      </p>
      <a id="home-page-btn" href="{% url 'signup' %}">Join Us!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card my-5 py-4 text-center">
    <div class="card-body">
      <p class="m-0">To learn more, get in contact with us, submit a tutor application, or view testimonials, visit our <a id="facebook-pg-link" href="https://www.facebook.com/TRUtutoring/">facebook page</a>!</p>    
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Students & Parents</h2>
          <p class="card-text">Recieve one-on-one tutoring in any subject at hourly prices ranging from $0-$20. Our
            tutors are distinguished both in their subject-specific knowledge and overall instruction quality!
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Tutors</h2>
          <p class="card-text">With TRU, high school and college-age students can gain valuable professional experience
            tutoring younger students. Our dynamic model allows for flexibility both in hours and compensation. Applications are currently open!   
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">COVID-19</h2>
          <p class="card-text">In these uncertain times, affordable education has never been more important. TRU is committed to continue providing
            quality peer-to-peer learning opportunities, now by using remote videoconferencing technology. 
          </p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->



<!-- Footer -->
<footer style="color:black;" class="page-footer font-small white pt-4 z-depth-2">

  <!-- Footer Text -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div style="height:4em;" class="row col-12">

      <!-- Grid column -->
      <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
        <div class="row" style="position:relative; padding-left:3em;">
          <!-- Content -->
          <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#02075d;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
          <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
          <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
          <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
          <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
          <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">

        <!-- Content -->
        <p style="color:#02075d; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="admin">Click here.</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}


