{% extends 'base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="main-container">


    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Basic</h3>
          <div class="card-body">
            <div class="display-4">$19.99</div>
            <div class="font-italic">per month</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Sign Up!</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card card-outline-primary h-100">
          <h3 class="card-header bg-primary text-white">Plus</h3>
          <div class="card-body">
            <div class="display-4">$39.99</div>
            <div class="font-italic">per month</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Sign Up!</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Ultra</h3>
          <div class="card-body">
            <div class="display-4">$159.99</div>
            <div class="font-italic">per month</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Sign Up!</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer style="color:black;" class="bottom-footer font-small white pt-4 z-depth-2">

    <!-- Footer Text -->
    <div class="container-fluid">
  
      <!-- Grid row -->
      <div style="height:4em;" class="row col-12">
  
        <!-- Grid column -->
        <div class="col-xs-6 mt-md-0 mb-3 text-md-left">
          <div class="row" style="position:relative; padding-left:3em;">
            <!-- Content -->
            <h3 id="tru-footer-content" class="text-uppercase"><span style="color:#000D33;font-weight: 900;">TRU</span><span style="font-weight: 300;">tutoring</span></h3>
            <a href="https://www.facebook.com/TRUtutoring/" style="padding-left:1em; color:black;" class="fa fa-facebook fa-2x"></a>
            <a href="https://www.instagram.com/trututoring/?hl=en/" style="padding-left:10px; color:black"class="fa fa-instagram fa-2x"></a>
            <a href="https://www.youtube.com/channel/UC1vFbsoZPVqEZdljAUxoggw" style="padding-left:10px; color:black" class="fa fa-youtube-play fa-2x"></a>
            <a href="https://twitter.com/trututoring" style="padding-left:10px; color:black" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/company/tru-tutoring/" style="padding-left:10px; color:black" class="fa fa-linkedin fa-2x"></a>
          </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div style="position:absolute; bottom:0; right:0;" class="col-xs-6 mt-md-0 mb-3 text-md-right">
  
          <!-- Content -->
          <p style="color:#000D33; font-weight:600; padding-right:2em;">TRU Admin? <a id="admin-link" href="admin">Click here.</a></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div style="color:white; background-color: black;"class="footer-copyright text-center py-3">© 2020 Copyright: TRU Tutoring
    </div>
    <!-- Copyright -->
  
  </footer>

{% endblock %}
