#session-title {
  font-weight:600;
  color: #415ebe;
  padding-left: 10px;
  max-width: 100%;
}

#tutor-tutor {
  background-color:#415ebe;
  color:white;
  font-weight:500;
  border: solid #415ebe 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#tutor-lesson {
  background-color:white;
  color:#415ebe;
  font-weight:500;
  border: solid white 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}


#lesson-lesson {
  background-color:#415ebe;
  color:white;
  font-weight:500;
  border: solid #415ebe 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#lesson-tutor {
  background-color:white;
  color:#415ebe;
  font-weight:500;
  border: solid white 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#tutor-lesson:hover, #lesson-tutor:hover{
  color:#415ebe;
  background-color: transparent;
  border: solid #415ebe 1.5px;
  transition: all 0.2s;
}

#lesson-lesson a, #tutor-tutor a {
  color:white;
}

#lesson-tutor a, #tutor-lesson a {
  color:#415ebe;
}

.fa-bars {
  position:fixed;
  top:0.5em;
  right:1em;
  font-size: 2em;
}

#course-descriptor:hover {
  text-decoration: underline;
}

#verified-only {
  vertical-align: text-top;
  font-size:20px;
  color: #415ebe;
  font-style: italic;
  font-weight: 600;
}

#verified-badge {
  vertical-align: text-top;
  font-size:14px;
  color: #415ebe;
  font-style: italic;
  font-weight: 600;
}

.fas {
  color: #415ebe;
}

#badger {
  white-space: nowrap;
  line-height:2em;
  background-color: #415ebe;
  color:white;
  font-weight:600;
  font-size:12px;
  padding:3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}
/* general form styling */

.material-url:hover {
  color: #415ebe;
  text-decoration: underline;
}

.text-muted small{
  color:black;
}

.text-muted small:hover{
  color:black;
  text-decoration: underline;
}

#prof-top {
  margin-top:2em;
}

#prof {
  padding-top: 1%;
  padding-bottom: 0;
}

#prof-line {
  border: none;
  height: 0.5px;
  color: grey; /* old IE */
  background-color: grey; /* Modern Browsers */
}

#material-text {
  height: 8em;
  padding: 3%;
  width: 100%;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  font-size: 16px;
  -webkit-appearance: none;
  display: block;
}





/* end general form styling */

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

#add-lessson-plus {
  font-size: 30px;
  background-color: none;
  float: right;
  margin-right:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: #415ebe;
  text-align:center;
  transition: all 0.2s;
}

.fa-plus {
  display:none;
}

.card-body{
  width:100%;
  display:block;
  overflow-x: scroll;
}

.carousel-inner{
  width:100%;
  max-height: 32em !important;
}

#home-right-text {
  text-align:right;
}



.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#faq-title {
  color: #415ebe;
  font-weight:400;
}

#home-terms-link {
  color:white;
}




