/* Full height image header */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tru-image {
  color:white;
  font-size:13em;
  font-weight:100;
  position: relative;
  padding-top:12%;
  padding-left: 12%;
}

#kid-logo {
  width:26%;
  margin-left:65%;
  bottom:0;
  transform: translateY(-63%);
  margin-bottom:-20em;
  filter: brightness(0.2) invert(1);
}

#home-title-1{
  font-family: 'Domine', serif;
  text-align: center;
  padding-top:1.5em;
  padding-bottom:1.5em;
  font-size: 2.8em;
  color:#415ebe;
}

#home-title-2{
  font-family: 'Domine', serif;
  text-align: center;
  padding-top:0.5em;
  padding-bottom:4rem;
  font-size: 3.7em;
  color:#415ebe;
}

#home-line {
  padding-bottom:3rem;
}

#faq-title-top{
  font-family: 'Domine', serif;
  text-align: center;
  font-size: 2.2em;
  color:black;
  margin:0;
  padding-top:0;
}

#home-title-3{
  font-family: 'Domine', serif;
  text-align: center;
  font-size: 2.5em;
  color:black;
}

#home-title-4{
  font-size: 1.5em;
  color:black;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
}

#home-info-block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom:5em;
}


.bottom-footer {
  position:fixed;
  bottom:0;
  width:100%;
}

#alerting {
  margin-top: 2em;
  padding-bottom:1em;
  background-color: #415ebe;
  color:white;
  border-color:white;
}


#close-button {
  float:right;
  background-color: transparent;
  border:none;
}


#home-page-txt {
  line-height: 1.4em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#facebook-pg-link {
  color: #415ebe;
}

#facebook-pg-link:hover {
  color: #415ebe;
  text-decoration: underline;
}

#home-page-btn2 {
  float:right;
  font-size: large;
  background-color: #415ebe;
  margin-top:1em;
  padding: 0.25em 1.2em;
  border: 2px solid #415ebe;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: white;
  text-align:center;
  transition: all 0.2s;
}

#home-page-btn {
  font-size: large;
  background-color: #415ebe;
  margin-top:1em;
  padding: 0.35em 1.2em;
  border: 2px solid #415ebe;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: white;
  text-align:center;
  transition: all 0.2s;
}

#home-page-btn:hover, #home-page-btn2:hover{
  color:#415ebe;
  background-color:white;
  text-decoration: none;
  border: 2px solid #415ebe;
  cursor: pointer;
}

#calltoaction {
  border: 0.1em solid red; 
  background-color: #ffcccb;
}

#card-primary {
  background-color: #415ebe;
}

.card-footer {
  background-color: #415ebe;
}

.card-footer a {
  color:white;
}

.card-footer a:hover {
  color:white;
  text-decoration: underline;
}

#page-title {
  font-family: 'Domine', serif;
  text-align: center;
  font-size: 2em;
  color:black;
  padding-bottom:1rem;
}

html {
  height:100%;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main-card {
  padding:4em 2em 0.5em 2em;
}

.main-container {
  padding:7em 2em 0 2em;
}


#session-title {
  font-weight:600;
  color: #415ebe;
  padding-left: 10px;
  max-width: 100%;
}

/* nav bar styling */
#navigation {
  background: rgb(65,94,190);
  background: linear-gradient(90deg, rgba(65,94,190,1) 11%, rgba(42,82,152,1) 100%);  box-shadow: none;
}

#tutor-tutor {
  background-color:#415ebe;
  color:white;
  font-weight:500;
  border: solid #415ebe 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#tutor-lesson {
  background-color:white;
  color:#415ebe;
  font-weight:500;
  border: solid white 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#lesson-lesson {
  background-color:#415ebe;
  color:white;
  font-weight:500;
  border: solid #415ebe 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#lesson-tutor {
  background-color:white;
  color:#415ebe;
  font-weight:500;
  border: solid white 1.5px;
  border-radius:50px;
  margin:0.5em;
  transition: all 0.2s;
}

#tutor-lesson:hover, #lesson-tutor:hover{
  color:#415ebe;
  background-color: transparent;
  border: solid #415ebe 1.5px;
  transition: all 0.2s;
}

#lesson-lesson a, #tutor-tutor a {
  color:white;
}

#lesson-tutor a, #tutor-lesson a {
  color:#415ebe;
}

.fa-bars {
  position:fixed;
  top:1.2em;
  right:1em;
}

.navbar {
  min-height:4em;
}

.navbar-brand {
  transition: 0.5s;
  padding-top:0;
  margin-bottom: 0.1em;
  font-size:4em;
  font-weight:500;
  color:white;
  position:fixed;
}

.navbar-brand:hover{
  text-decoration: none;
  color:white;
}

.expand {
  font-size: 11em;
  font-weight:500;
  padding-top:1.2em;
  transition: 1s;
  color:white;
  position:fixed;
}

#identify-user {
  margin-right:10px;
  color:white;
}

#home-top-content {
  color:white;
}

.nav-item {
  color:white;
  font-size: 18px;
}

.logout-btn {
  margin-left: 10px;
  font-weight: 400;
  color: white;
}

.logout-btn:hover {
  margin-left: 10px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}



/* end nav bar styling */

/* button styling */


#hit-btn, #yes-btn, #no-btn {
  background-color: white;
  display: inline-block;
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 3%;
  margin-right: 5%;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

#add-lesson-btn {
  font-size: large;
  background-color: #415ebe;
  float: right;
  margin-right:2em;
  padding: 0.35em 1.2em;
  border: 0.1em solid #415ebe;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: white;
  text-align:center;
  transition: all 0.2s;
}

#yes-btn:hover{
  color:white;
  background-color:green;
  text-decoration: none;
  border: 0.1em solid green;
  cursor: pointer;
}

#no-btn:hover{
  color:white;
  background-color:red;
  text-decoration: none;
  border: 0.1em solid red;
  cursor: pointer;
}

#add-lesson-btn:hover{
  color:#415ebe;
  background-color:white;
  text-decoration: none;
  border: 0.1em solid #415ebe;
  cursor: pointer;
}


#hit-btn:hover{
  color:white;
  background-color:black;
  text-decoration: none;
  border: 0.1em solid black;
  cursor: pointer;
}

          /* originally for login */

#course-descriptor:hover {
  text-decoration: underline;
}

.triple-btn {
  margin-top:2em;
  display: inline-block;
  margin-right:20%;
  margin-left:20%;
  margin-bottom:5em;
}

.sign-btn {
  margin-top:2em;
  margin-bottom:5em;
  display: inline-block;
}

.sign-btn button {
  background-color: white;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
}

.sign-btn button:hover{
  color:white;
  background-color:black;
  text-decoration: none;
  border: 0.1em solid black;
  cursor: pointer;
}

/* end of button styling */


/*  
START LOGIN FORMATTING
*/

.pay-card {
  background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom:3em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  max-width: 40em;
}


.login-card {
  z-index: 10px;
  background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

#title {
  color: #415ebe;
  font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.8em;
  line-height: 2.8em;
  padding-top: 15%;
  padding-bottom:10%;
  margin: auto auto;
  text-transform: uppercase;
}


.login-box label {
	font-weight: 400;
	font-size: 14px;
	color: black;
	letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
}

.helptext {
  display:none;
}

.errorlist {
  color:red;
  list-style-type: none;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  font-size: smaller;
}

.login-box input, .login-card input {
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  display: block;
  font-size: 16px;
}


.login-box button {
  background-color: white;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

.login-box button:hover{
  color:white;
  background-color:green;
  text-decoration: none;
  border: 0.1em solid green;
  cursor: pointer;
}

#terms-btn {
  font-weight: 400;
	font-size: 12px;
	color: black;
	letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
}

#terms-btn a{
  text-decoration: underline;
}

#legal {
  height: 15em;
  padding: 3%;
  text-align: left;
  margin-top: 3%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  font-size: 16px;
  -webkit-appearance: none;
  display: block;
  overflow:scroll;
}

#legal-heading{
  text-align: center;
  font-weight:500;
}

#legal h6 {
  font-weight:500;
  text-align: left;
}

#terms-title {
  color: #415ebe;
  font-weight: 900;
	letter-spacing: 1px;
	font-size: 2em;
  padding-top: 2.2em;
  padding-bottom:1.6em;
  margin: auto auto;
}

/*
END LOGIN FORMATTING
*/

#verified-only {
  vertical-align: text-top;
  font-size:20px;
  color: #415ebe;
  font-style: italic;
  font-weight: 600;
}

#verified-badge {
  vertical-align: text-top;
  font-size:14px;
  color: #415ebe;
  font-style: italic;
  font-weight: 600;
}

.fas {
  color: #415ebe;
}

#badger {
  white-space: nowrap;
  line-height:2em;
  background-color: #415ebe;
  color:white;
  font-weight:600;
  font-size:12px;
  padding:3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}
/* general form styling */

.material-url:hover {
  color: #415ebe;
  text-decoration: underline;
}

.text-muted small{
  color:black;
}

.text-muted small:hover{
  color:black;
  text-decoration: underline;
}

#prof-top {
  margin-top:2em;
}

#prof {
  padding-top: 1%;
  padding-bottom: 0;
}

#prof-line {
  border: none;
  height: 0.5px;
  color: grey; /* old IE */
  background-color: grey; /* Modern Browsers */
}

#material-text {
  height: 8em;
  padding: 3%;
  width: 100%;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  font-size: 16px;
  -webkit-appearance: none;
  display: block;
}

#selector-name, #selector-subject {
  margin-left:auto;
  margin-right:auto;
  padding: 3%;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  display: block;
  width:20em;
}

#selector {
  height: 8em;
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  font-size: 16px;
  -webkit-appearance: none;
  display: block;
}

.selector-school {
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  display: block;
}

#selector-school {
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  display: block;
}



/* end general form styling */


#admin-link {
  color:black;
  text-decoration: none;
  font-weight:400;
}

#admin-link:hover {
  color:black;
  text-decoration: underline;
  font-weight:400;
}

footer {
  font-size: .9rem;
}

footer a {
  color: #212529;
}


.nav-link {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: white;
  text-align:center;
}
.nav-link:hover{
  color:white;
  text-decoration: none;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

#add-lessson-plus {
  font-size: 30px;
  background-color: none;
  float: right;
  margin-right:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: #415ebe;
  text-align:center;
  transition: all 0.2s;
}

.fa-plus {
  display:none;
}

.card-body{
  width:100%;
  display:block;
  overflow-x: scroll;
}

.carousel-inner{
  width:100%;
  max-height: 32em !important;
}

#home-right-text {
  text-align:right;
}

/* before 600 */
@media screen and (max-width: 600px) , screen and (max-height: 600px) {
  .fa-video{
    display: none;
  }
  #home-page-btn2 {
    float:left;
  }
  #home-right-text {
    text-align: left;
  }
  #home-title-3{
    font-family: 'Domine', serif;
    text-align: center!important;
    font-size: 2.5em;
    color:black;
  }
  .carousel-inner{
    width:100%;
    max-height: 18em !important;
  }
  #tru-image {
    color:white;
    font-size:7em;
    font-weight:200;
    position: relative;
    text-align: left;
    padding-left:5%;
    padding-top: 20%;
  }

  .expand {
    font-size: 7em;
    color:white;
    font-weight:500;
    transition: 0s;
    padding-top:0.6em;
    margin:0;
    position: fixed;
    transition: 1s;
  }
  #kid-logo {
    display:none;
  }
  .login-card {
    z-index:0;
    box-shadow: none;
    top:5em;
    width:100%;
  }
  #selector, #selector-school, .login-card input {
    width:100%
  }
  #tru-footer-content {
      display: none;
  }
  #add-lesson-plus {
    font-size: 30px;
    background-color: none;
    float: right;
    margin-right:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color: #415ebe;
    text-align:center;
    transition: all 0.2s;
  }
  .fa-plus {
    display:inline;
  }
  #add-lesson-btn {
    display:none;
  }
  .fa-youtube-play, .fa-twitter, .fa-linkedin {
    display: none;
  }
  .dropdown-menu {
    left:50%; margin-left:-80px;
    text-align: center;
  }
}


.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#faq-title {
  color: #415ebe;
  font-weight:400;
}

#home-terms-link {
  color:white;
}

#home-terms-btn {
  background-color: white;
  display: inline-block;
  margin-left: 2%;
  padding: 0.3em 0.8em;
  border: 0.1em solid white;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
}