/* Full height image header */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
  background-position: center;
  background-size: cover;
  background-color:white;
  min-height: 100%;
}


html {
  height:100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}


.main-card {
  background-color: white;
  padding:5em 2em 0 2em;
}


/* nav bar styling */
#navigation {
  max-height: 6em;
}
.nav-item {
  color:white;
}
.navbar-brand{
  font-size: 4em!important;
  font-weight: 800;
}

#identify-user {
  margin-right:10px;
  color:black;
}

.logout-btn {
  margin-left: 10px;
  font-weight: 400;
  color: black;
}

.logout-btn:hover {
  margin-left: 10px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-style: italic;
}

/* end nav bar styling */

/* button styling */

#yes-btn {
  background-color: white;
  display: inline-block;
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 3%;
  margin-right: 5%;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

#yes-btn:hover{
  color:white;
  background-color:green;
  text-decoration: none;
  border: 0.1em solid green;
  cursor: pointer;
}

#hit-btn {
  background-color: white;
  display: inline-block;
  margin-top:2%;
  margin-bottom:2%;
  margin-left: 3%;
  margin-right: 5%;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

#hit-btn:hover{
  color:white;
  background-color:black;
  text-decoration: none;
  border: 0.1em solid black;
  cursor: pointer;
}

          /* originally for login */

.sign-btn {
  margin-top:2em;
  margin-bottom:5em;
  display: inline-block;
}

.sign-btn button {
  background-color: white;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
}

.sign-btn button:hover{
  color:white;
  background-color:black;
  text-decoration: none;
  border: 0.1em solid black;
  cursor: pointer;
}

.selected {
	color: #5c5c5c!important;
  transition: 0.5s;
}

/* end of button styling */


/*  
START LOGIN FORMATTING
*/


.login-card {
  background-color: white;
	box-shadow: 0 5px 50px rgba(0,0,0,0.3);
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  max-width: 40em;
}

#title {
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 2em;
  line-height: 2.8em;
  padding-top: 15%;
  padding-bottom:10%;
  margin: auto auto;
}


.login-box label {
	font-weight: 400;
	font-size: 14px;
	color: black;
	letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
}

.helptext {
  display:none;
}

.errorlist {
  color:red;
  list-style-type: none;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  font-size: smaller;
}

.login-box input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  width: 25em;
  margin-top:3%;
  margin-bottom: 7%;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.login-box input:focus {
	outline: none;
	border-color: #5c5c5c;
	transition: 0.5s;
  color: black;
  text-align: center;
}


.login-box button {
  background-color: white;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

.login-box button:hover{
  color:white;
  background-color:green;
  text-decoration: none;
  border: 0.1em solid green;
  cursor: pointer;
}


/*
END LOGIN FORMATTING
*/


/* general form styling */

#prof-top {
  margin-top:2em;
}

#prof {
  padding-top: 1%;
  padding-bottom: 0;
}

#prof-line {
  border: none;
  height: 0.5px;
  color: grey; /* old IE */
  background-color: grey; /* Modern Browsers */
}

input:focus {
  padding:2%;
  transition:all 0.5s;
}

#selector {
  height: 8em;
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  font-size: 16px;
  -webkit-appearance: none;
  display: block;
}

#selector-school {
  padding: 3%;
  width:25em;
  margin-top: 3%;
  margin-bottom:7%;
  border-width:1.5px;
  border-style:solid;
  border-color:black;
  border-radius:1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  display: block;
}



/* end general form styling */


.admin-link {
  font-size: small;
}

footer {
  font-size: .9rem;
}

footer a {
  color: #212529;
}


.standard-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0.5em 0 0 0.5em;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
  transition: 0.3s all;
}
.standard-btn:hover{
  color:white;
  background-color:black;
  border: 0.1em solid black;
  text-decoration: none;
}



.home-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  margin: 0.5em 0 0 0.5em;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: black;
  text-align:center;
}
.home-btn:hover{
  color:black;
  text-decoration: none;
}



.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.social {
  position: relative;
  float:right;
}

.fa {
  float:right;
  text-align: right;
  text-decoration: none;
  color:white;
  background-color: transparent;
}

.fa-facebook:hover {
    text-decoration: none;
    color: #3B5998;
}

.fa-instagram:hover {
  text-decoration: none;
  color: #fb3958;
}


.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}