{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-card">
  <div class="row align-items-center my-5">

    <div class="col-lg-5 text-center">
      <h1 class="font-weight-light">Start Learning!</h1>
      <br>
      <p>Below you can explore available tutors in your selected subjects. <br>To get in touch with a tutor, please reach out to the email provided!</p>  
    </div>

    <div class="col-lg-7">
      <div class="card h-100">
        <div class="card-body">
          {% include 'classroom/students/_header.html' with active='new' %}
          <hr id="prof-line"> 
          <p class="text-muted">
            Subjects:&nbsp;{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_interests' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            School:&nbsp;<span id="badger">{{ user.student.school }}</span>
            <a href="{% url 'students:student_school' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Grade:&nbsp;{% for grade in user.student.grade_level.all %} {{ grade.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_grade_level' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Availability:&nbsp;{% for availability in user.student.availability.all %} {{ availability.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_availability' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Sessions/week:&nbsp;{% for session in user.student.sessions.all %} {{ session.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_sessions' %}"><small>(update)</small></a>
          </p>       
        </div>
      </div>

    </div>
  </div>

  <hr id="prof-line"> 

  <ul class="nav nav-pills mb-3">
    <li id="lesson-tutor" class="nav-item">
      <a class="nav-link" href="{% url 'students:tutor_list' %}">Available Tutors</a>
    </li>
    <li id="lesson-lesson" class="nav-item">
      <a class="nav-link" href="{% url 'students:lesson_list' %}">Your Lessons</a>
    </li>
  </ul>

  <div class="card text-black bg-white my-4 py-2 z-depth-1">
    <div class="card-body">
      <table class="table mb-0 table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Zoom Link + Meeting Details</th>
            <th>Lesson Rate</th>
            <th>Paid?</th>
          </tr>
        </thead>
        <tbody>
          
          {% for lesson in lessons %}
            <tr>
              <td class="align-middle">{{ lesson.tutor.user.first_name }} {{ lesson.tutor.user.last_name }}</td>
              <td class="align-middle">
                <a class="material-url" href="mailto:{{lesson.tutor.user.email}}">{{lesson.tutor.user.email}}</a>
              </td>
              <td class="align-middle">{{ lesson.date }}</td>
              <td style="width:40%" class="align-middle">
                <!-- function to generate url link within text -->
                <script>
                  function urlify(text) {
                      var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
                      //var urlRegex = /(https?:\/\/[^\s]+)/g;
                      return text.replace(urlRegex, function(url,b,c) {
                          var url2 = (c == 'www.') ?  'http://' +url : url;
                          return '<a class="material-url" href="' +url2+ '" target="_blank">' + url + '</a>';
                      }) 
                  }

                  var text = '{{ lesson.material }}';
                  var html = urlify(text);  

                  document.write(html);
                </script>
              </td>

              <td class="align-middle">
                
                <script>
                  function CurrencyFormatted(amount) {
                    var i = parseFloat(amount);
                    if(isNaN(i)) { i = 0.00; }
                    var minus = '';
                    if(i < 0) { minus = '-'; }
                    i = Math.abs(i);
                    i = parseInt((i + .005) * 100);
                    i = i / 100;
                    s = new String(i);
                    if(s.indexOf('.') < 0) { s += '.00'; }
                    if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
                    s = minus + s;
                    return s;
                  }
                  var amount = '{{ lesson.rate }}';
                  var html = CurrencyFormatted(amount); 
                  document.write('$' + html + '/hour');
                </script>

              </td>

              <td style="font-weight:bold; color:green" class="align-middle">{% if lesson.paid %}Yes{% else %}
                <a id="course-descriptor" href="{% url 'students:process_payment' lesson.pk %}">Pay Now</a>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="6">No lessons completed at this time :(</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}