{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-card">
  <div class="row align-items-center my-5">

    <div class="col-lg-5 text-center">
      <h1 class="font-weight-light">Start Learning!</h1>
      <p>Explore learning opportunities available to you below!</p>  
    </div>

    <div class="col-lg-7">
      <div class="card h-100">
        <div class="card-body">
          {% include 'classroom/students/_header.html' with active='new' %}
          <hr id="prof-line"> 
          <p class="text-muted">
            Subjects:&nbsp;{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_interests' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            School:&nbsp;<span class="badge badge-primary" style="background-color:#505050;">{{ user.student.school }}</span>
            <a href="{% url 'students:student_school' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Grade:&nbsp;{% for grade in user.student.grade_level.all %} {{ grade.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_grade_level' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Availability:&nbsp;{% for availability in user.student.availability.all %} {{ availability.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_availability' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Sessions/week:&nbsp;{% for session in user.student.sessions.all %} {{ session.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_sessions' %}"><small>(update)</small></a>
          </p>       
        </div>
      </div>

    </div>
  </div>

  <hr id="prof-line"> 

  <div class="card text-black bg-white my-4 py-2 z-depth-1">
    <div class="card-body">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Zoom Link</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizzes %}
            <tr>
              <td class="align-middle">{{ quiz.name }}</td>
              <td class="align-middle">{{ quiz.owner.first_name }} {{ quiz.owner.last_name }}</td>
              <td id="" class="align-middle">{{ quiz.subject.get_html_badge }}</td>
              <td></td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="4">No session matching your preferences right now.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
