{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-card">
  <div class="row align-items-center my-5">

    <div class="col-lg-5 text-center">
      <h1 class="font-weight-light">Start Learning!</h1>
      <br>
      <p>Below you can explore available tutors in your selected subjects. <br>To get in touch with a tutor, please reach out to the email provided!</p>  
    </div>

    <div class="col-lg-7">
      <div class="card h-100">
        <div class="card-body">
          {% include 'classroom/students/_header.html' with active='new' %}
          <hr id="prof-line"> 
          <p class="text-muted">
            Subjects:&nbsp;{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_interests' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            School:&nbsp;<span id="badger">{{ user.student.school }}</span>
            <a href="{% url 'students:student_school' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Grade:&nbsp;{% for grade in user.student.grade_level.all %} {{ grade.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_grade_level' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Availability:&nbsp;{% for availability in user.student.availability.all %} {{ availability.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_availability' %}"><small>(update)</small></a>
          </p>
          <p class="text-muted">
            Sessions/week:&nbsp;{% for session in user.student.sessions.all %} {{ session.get_html_badge }}{% endfor %}
            <a href="{% url 'students:student_sessions' %}"><small>(update)</small></a>
          </p>       
        </div>
      </div>

    </div>
  </div>

  <hr id="prof-line"> 

  <ul id="tab" class="nav nav-pills mb-3">
    <li id="tutor-tutor" class="nav-item">
      <a class="nav-link" href="{% url 'students:tutor_list' %}">Available Tutors</a>
    </li>
    <li id="tutor-lesson" class="nav-item">
      <a class="nav-link" href="{% url 'students:lesson_list' %}">Completed Lessons</a>
    </li>
  </ul>

  <div class="card text-black bg-white my-4 py-2 z-depth-1">
    <div class="card-body">
      <table class="table mb-0 table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>School</th>
            <th>Subjects</th>
            <th>Rate</th>
            <th>TRU Verified</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in teachers %}
            <tr>
              <td class="align-middle">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</td>
              <td class="align-middle">{{ teacher.user.email }}</td>
              <td class="align-middle">{{ teacher.school }}</td>
              <td style="width:50%" class="align-middle">{% for subject in teacher.interests.all %} {{ subject.get_html_badge }}{% endfor %}</td>
              {% if teacher.verified %}
                <td class="align-middle">$22.50/hour</a></td>
              {% else %}
                <td class="align-middle">${{ teacher.rate }}/hour</a></td>
              {% endif %}
              <td class="align-middle">{% if teacher.verified %}Yes{% else %}No{% endif %}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="6">No tutors matching your preferences at the moment :(</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
