{% extends 'base.html' %}



{% block content %}
<div class="login-card">
  
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  
 <!--
  <div class="row">
    <div class="top">
			<h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">Username</label>
			<br/>
			<input type="text" id="username">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password">
			<br/>
			<button type="submit">Sign In</button>
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a>
		</div>
  </div>
-->

  <form class="login-box" method="post" novalidate>
    <div class="box-header">
      <h2 id="title">LOGIN</h2>
    </div>

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <label for="username">username</label>
    <br/>
    <input id="username" type="username" name="username" value="{{ username }}">
    <br/>
    <label for="password">password</label>
    <br/>
    <input id="password" type="password" name="password" value="{{ password }}">
    <br/>
    <button type="submit">sign in</button>
    <br/>
    <!--<button type="submit" class="btn btn-primary">Log in</button>-->
  </form>

{% endblock %}


<!--
  <div class="col-12">
    <h2>Log in</h2>
  </div>
  
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form.username }}
          {{ form.password }}
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </div>
      <div class="col-sm-3"></div>
  </div>
  --->
